*{
    max-width: 1200px;
    margin: 0 auto;
    
}

h1{
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

h2{
    font-size: 20px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

body{
    background-color: rgb(158, 200, 189);
}
