@charset "UTF-8";
.main {
  display: flex;
  margin-top: 80px;
  justify-content: center;
}

.main__container {
  max-width: 600px;
  min-width: 250px;
  max-height: 500px;
  min-height: 400px;
  border-radius: 30px;
  perspective: 600px;
}
@media all and (min-width: 768px) {
  .main__container {
    min-width: 350px;
    min-height: 500px;
  }
}
.main__container__carte {
  width: 100%;
  height: 100%;
  transition: 2s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  scale: 1;
  -webkit-animation: apparition 1.5s linear;
          animation: apparition 1.5s linear;
  padding-top: 20px;
}
.main__container__carte__recto, .main__container__carte__verso {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  border-radius: 30px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  /* décalage du texte*/
}
.main__container__carte__recto__fond, .main__container__carte__verso__fond {
  background: linear-gradient(60deg, rgb(35, 78, 148) 0%, rgb(45, 159, 252) 30%, rgb(15, 197, 251) 40%, rgb(255, 255, 255) 50%, rgb(15, 197, 251) 60%, rgb(45, 159, 252) 90%, rgb(35, 78, 148) 100%);
  background-size: 300% 200%;
  -webkit-animation: degrad 6s ease infinite;
          animation: degrad 6s ease infinite;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.main__container__carte__recto__contenu, .main__container__carte__verso__contenu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: translateZ(50px);
  /* decalage du texte */
}
.main__container__carte__recto__contenu__article, .main__container__carte__verso__contenu__article {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 2px 2px black;
}
.main__container__carte__recto__contenu__article__paragraphe, .main__container__carte__verso__contenu__article__paragraphe {
  padding-top: 40px;
  font-size: 16px;
}
.main__container__carte__recto__contenu__image, .main__container__carte__verso__contenu__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 50%;
}

.main__container__carte__verso {
  color: rgb(0, 204, 255);
  transform: rotateY(180deg);
  text-align: center;
}
.main__container__carte__verso__contenu__article {
  width: 100%;
  height: 100%;
  padding: 40px 20px 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.main__container__carte__verso__contenu__article__bouton {
  margin-top: 20px;
  width: 50%;
  height: 30px;
  background: rgb(192, 20, 230);
  border-radius: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  perspective: 10px;
}

.main__container:hover .main__container__carte {
  transform: rotateY(180deg);
}

.main__container__carte__verso__contenu__article__bouton:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px 2px #242323;
  background-color: rgb(216, 120, 237);
  perspective: 8px;
}

@-webkit-keyframes degrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes degrad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
* {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 30px;
  font-family: "Lobster", cursive;
}

h2 {
  font-size: 20px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

body {
  background-color: rgb(158, 200, 189);
}

.header__titre {
  margin-top: 100px;
  font-size: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}
.header__nav__rs {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
  width: 20%;
  height: 100%;
}
.header__nav__rs__icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.header__nav__rs__icone-t {
  color: #1DA1F2;
  width: 15%;
  text-align: center;
}
.header__nav__rs__icone-f {
  color: #3B5998;
  width: 15%;
  text-align: center;
}
.header__nav__rs__icone-i {
  color: #C32AA3;
  width: 15%;
  text-align: center;
}
.header__nav__rs__icone-l {
  color: #007BB5;
  width: 15%;
  text-align: center;
}
.header__nav__rs__icone-ti {
  width: 15%;
  text-align: center;
}
.header__nav__rs__texte {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.header__nav__titre {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.header__nav__contact {
  width: 15%;
}
.header__nav__contact__tel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header__nav__contact__tel__icone {
  width: 20%;
  text-align: center;
}
.header__nav__contact__tel__N {
  width: 80%;
  color: black;
}
.header__nav__contact__mail {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav__contact__mail__icone {
  width: 20%;
  text-align: center;
}
.header__nav__contact__mail__lien {
  width: 80%;
  color: black;
}

.header__titre {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.header__titre__texte {
  font-size: 50px !important;
}

.main__fond {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}
.main__fond__image {
  /*&__ap-on{
      position: absolute;
      left: 350px;
      top: 160px;
      z-index: 1;
      opacity: 1;
      animation: opacite 2s linear;
  }*/
}
.main__fond__image__ap {
  border-radius: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.main__fond__image__ap-off {
  position: absolute;
  left: 75px;
  top: 160px;
  z-index: 3;
  opacity: 1;
  -webkit-animation: opacite 8s cubic-bezier(0.14, 0.42, 0.22, 1.05) 2s;
          animation: opacite 8s cubic-bezier(0.14, 0.42, 0.22, 1.05) 2s;
}
.main__fond__onglet {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.main__fond__onglet__service {
  width: 60%;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(127, 220, 128);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  position: relative;
}
.main__fond__onglet__service:hover {
  width: 100%;
  transition: 0.8s ease-in-out;
}
.main__fond__onglet__service__titre {
  font-size: 30px;
  width: 70%;
}
.main__fond__onglet__service__icone {
  font-size: 30px;
}
.main__fond__onglet__competence {
  width: 60%;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(60, 170, 91);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.main__fond__onglet__competence:hover {
  width: 100%;
  transition: 0.8s ease-in-out;
}
.main__fond__onglet__competence__titre {
  font-size: 30px;
  width: 70%;
}
.main__fond__onglet__competence__icone {
  font-size: 30px;
}
.main__fond__onglet__projet {
  width: 60%;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(39, 137, 90);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.main__fond__onglet__projet:hover {
  width: 100%;
  transition: 0.8s ease-in-out;
}
.main__fond__onglet__projet__titre {
  font-size: 30px;
  width: 70%;
}
.main__fond__onglet__projet__icone {
  font-size: 30px;
}
.main__fond__onglet__propos {
  width: 60%;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(24, 113, 89);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.main__fond__onglet__propos:hover {
  width: 100%;
  transition: 0.8s ease-in-out;
}
.main__fond__onglet__propos__titre {
  font-size: 30px;
  width: 70%;
}
.main__fond__onglet__propos__icone {
  font-size: 30px;
}

@-webkit-keyframes opacite {
  100% {
    opacity: 0;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes opacite {
  100% {
    opacity: 0;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}
@-webkit-keyframes opacite_inverse {
  100% {
    opacity: 1;
  }
}
@keyframes opacite_inverse {
  100% {
    opacity: 1;
  }
}
.main__fond__image__titre {
  position: absolute;
  left: 25%;
  bottom: 30%;
  color: rgb(0, 222, 0);
  z-index: 2;
}
.main__fond__image__titre__texte {
  position: relative;
}
.main__fond__image__titre__texte__1 {
  font-size: 60px;
  font-family: "Inconsolata", Helvetica, sans-serif;
}
.main__fond__image__titre__texte__2 {
  font-size: 40px;
  font-family: "Inconsolata", Helvetica, sans-serif;
}
.main__fond__image__titre__texte__2::after {
  content: "|";
  position: absolute;
  right: 0%;
  background-color: rgb(79, 79, 79);
  width: 100%;
  -webkit-animation: ecriture 5s steps(13) 2s, tiret 1s infinite;
          animation: ecriture 5s steps(13) 2s, tiret 1s infinite;
}

@-webkit-keyframes ecriture {
  to {
    width: 0%;
  }
}

@keyframes ecriture {
  to {
    width: 0%;
  }
}
@-webkit-keyframes tiret {
  50% {
    color: transparent;
  }
}
@keyframes tiret {
  50% {
    color: transparent;
  }
}/*# sourceMappingURL=style.css.map */